.MuiMenu-list{
    border-radius: 21px !important;
    padding: 19px 28px !important;
    width: 330px !important;
    flex-grow: 1 !important;
    li{
        text-align: start !important;
        padding-left: 0px !important;
        border-bottom: 0.5px solid #D2D2D2 !important;
    }
}